<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polly</title>


    <Style>
        div.title {
            width: 30%;
            position: static;
            border: 3px solid #73AD21;
            background-color: powderblue;
}
        table.result{
            margin:10;
        }
    </Style>
</head>
<body>
    <div class="container">
        <div class="title" >
            <div>Chuyển đổi text thành giọng nói</div>
        </div>
        <table>
            <tbody>            
                <td>
                    <Text>Giọng nhân Vật </Text>
                    <select name="cars" id="Voice">
                        <option value="Aditi">Aditi</option>
                        <option value="Amy">Amy</option>
                        <option value="Astrid">Astrid</option>
                        <option value="Bianca">Bianca</option>
                      </select>
                </td>
                <td>
                    <Text>Mã Ngôn ngữ:</Text>
                    <select name="cars" id="Language">
                        <option value="en-AU">en-AU</option>
                        <option value="en-GB">en-GB</option>
                        <option value="en-IN">en-IN</option>
                        <option value="fr-FR ">fr-FR </option>
                      </select>
                </td>
 
            </tbody>
        </table>
        <table border ="1">
            <td>
                <textarea id='textconvert' rows="8" cols="50"></textarea>
            </td>
            <td>
                <button onclick="convert()">Convert</button>
            </td>

        </table>
        <table border="1" style="margin-top: 40px;">>
            <thead>
                <td style="width: 280px; text-align: center;">
                    Văn bản
                </td>
                <td style="width: 100px; text-align: center;">
                    Giọng nói
                </td>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>

    <script>
        function convert(){
            var Voice = document.getElementById("Voice").value;
            var Language = document.getElementById("Language").value;
            var Text = document.getElementById("textconvert").value;
            console.log(Voice, Language, Text);

        }
    </script>
</body>
</html>