<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polly</title>


    <Style>
        div.title {
            width: 100%;
            height: 40px;
            position: static;
            border: 3px solid #73AD21;
            background-color: powderblue;
}
        table.result{
            margin:10;
        }
    </Style>
</head>
<body>
    <div class="container">
        <div class="title" >
            <div style="text-align: center; padding-top: 10px;">Chuyển đổi text thành giọng nói</div>
        </div>
        <table>
            <tbody>            
                <td>
                    <Text>Giọng nhân Vật </Text>
                    <select name="cars" id="Voice">
                        <option value="Aditi">Aditi</option>
                        <option value="Amy">Amy</option>
                        <option value="Astrid">Astrid</option>
                        <option value="Bianca">Bianca</option>
                        <option value="Brian">Brian</option>
                        <option value="Camila">Camila</option>
                        <option value="Carla">Carla</option>
                        <option value="Celine">Celine</option>
                        <option value="Chantal">Chantal</option>
                        <option value="Conchita">Conchita</option>
                        <option value="Cristiano">Cristiano</option>
                        <option value="Dora">Dora</option>
                        <option value="Emma">Emma</option>
                        <option value="Enrique">Enrique</option>
                        <option value="Ewa">Ewa</option>
                        <option value="Filiz">Filiz</option>
                        <option value="Gabrielle">Gabrielle</option>
                        <option value="Geraint">Geraint</option>
                        <option value="Giorgio">Giorgio</option>
                        <option value="Gwyneth">Gwyneth</option>
                        <option value="Hans">Hans</option>


                      </select>
                </td>
                <td>
                    <Text>Mã Ngôn ngữ:</Text>
                    <select name="cars" id="Language">
                        <option value="en-AU">English, Australian</option>
                        <option value="en-GB">English, British</option>
                        <option value="en-IN">English, Indian</option>
                        <option value="en-NZ">English, New Zealand </option>
                        <option value="en-ZA">English, South African </option>
                        <option value="en-US">English, US </option>
                        <option value="en-GB-WLS">English, Welsh </option>
                        <option value="fr-FR">French </option>
                        <option value="fr-CA">French, Canadian </option>
                        <option value="arb">Arabic </option>
                        <option value="cmn-CN">Chinese, Mandarin</option>
                        <option value="da-DK">Danish </option>
                        <option value="nl-NL">Dutch </option>
                        <option value="hi-IN">Hindi </option>
                        <option value="de-DE">German </option>
                        <option value="is-IS">Icelandic</option>
                        <option value="it-IT">Italian</option>
                        <option value="ja-JP">Japanese</option>
                        <option value="ko-KR">Korean</option>
                        <option value="nb-NO">Norwegian</option>
                      </select>
                </td>
 
            </tbody>
        </table>
        <table border ="1">
            <td>
                <textarea id='textconvert' rows="8" cols="50"></textarea>
            </td>
            <td>
                <button onclick="convert()">Convert</button>
            </td>

        </table>
        <table border="1" style="margin-top: 40px;">>
            <thead>
                <td style="width: 280px; text-align: center;">
                    Văn bản
                </td>
                <td style="width: 100px; text-align: center;">
                    Giọng nói
                </td>

            </thead>
            <tbody id='history'>
 
            </tbody>
        </table>
    </div>

    <script language="javascript">
        function convert(){
            var Voice = document.getElementById("Voice").value;
            var Language = document.getElementById("Language").value;
            var Text = document.getElementById("textconvert").value;
            console.log(Voice, Language, Text);
            $.ajax({
                url: '/convert',
                method: 'POST',
                data:{
                    Text: Text,
                    VoiceId: Voice,
                    Language: Language
                },
                success: function(res){
                    $('#history').append('<tr><td style="word-wrap:break-word">'+ Text+' </td>'+
                '<td><audio controls id="'+res.urlVoice+'"><source src="../voice/'+res.urlVoice+'" type="audio/mpeg"></audio></td>'+
                    '</tr>')
                    document.getElementById(res.urlVoice).play();
                }
            })
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>